beautifulsoup4==4.13.3
gymnasium==1.1.1
imageio==2.37.0
matplotlib==3.10.1
numpy==2.2.4
oblige==0.1.3
psutil==7.0.0
pygame==2.6.1
pypandoc==1.15
scipy==1.15.2
setuptools==78.1.0
skimage==0.0
stable_baselines3==2.6.0
tensorflow==2.19.0
torch==2.6.0
tqdm==4.67.1
wheel==0.45.1
